.vscode/
.idea/
build/
dist/
__pycache__/
scraps/
.vscode/
config.toml
custom-pyinstaller/
*.exe
*.csv
runtime/apps/
runtime/config/program/
runtime/config/user/
runtime/logs/
runtime/templates/
runtime/user_packages/
beyondhd-parser/
!plugins/
!plugins/*
!src/plugins/
*.spec

