.vscode/
.idea/
build/
dist/
__pycache__/
scraps/
.vscode/
config.toml
custom-pyinstaller/
*.exe
*.csv
runtime/apps/
runtime/cookies/
runtime/docs/
runtime/config/program/
runtime/config/user/
runtime/config/plugins
runtime/logs/
runtime/templates/
runtime/user_packages/
beyondhd-parser/
plugins/*
!plugins/jinja2_plugin_example/
!plugins/jinja2_plugin_example/**
plugins/**/__pycache__/*
!src/plugins/
*.spec
docs/_build
Makefile
make.bat
